<!-- your html code here -->

    <div class="container">
        <h1>Contact</h1>
        <div class="col-10">
            <p>Donec ullamcorpre nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod sempter. praesent commodo cursis magna, vel scelerisque nisl consectetur. fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="row">
            <div class="col-12">
            <form>
                <div class="row">
                    <div class="col-2"><p>Your Email</p></div>
                    <div class="col-7"><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Email"></div>
                </div>
                <div class="row">
                    <div class="col-2"><p>Your message</p></div>
                    <div class="col-7"><textarea class="form-control" rows="5" id="comment" name="text" placeholder="Please enter your message here"></textarea></div>
                </div>
                <div class="row ">
                    <div class="col-9 d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>