<!-- your html code here -->
<div class="container">
    <div class="row">
      <div class="mt-5 col-7 ">
        <h1> This First Heading Will Catch Your Eye </h1>           
        Donec ullamcorpre nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod sempter. praesent commodo cursis magna, vel scelerisque nisl consectetur. fusce dapibus, tellus ac cursus commodo.
      </div>
      <div class="p-2 col-5">
        <img src="https://i.pinimg.com/564x/b0/77/f0/b077f0c929797088a98a7fc1dd78449b.jpg" class="rounded-circle" width="250" height="250"alt="Walter White">
      </div>
    </div>
  </div>