<!-- your html code here -->
<div class="container">
    <div class="row" id="ancla-2">
        <div class="p-2 pt-5 pb-5 col-5">
            <img src="https://static.vecteezy.com/system/resources/previews/000/866/431/non_2x/hands-typing-on-the-laptop-keyboard-photo.jpg" class="rounded-circle" width="100%" height="100%"alt="Walter White">
          </div>
      <div class="mt-5 col-7 ">
        <h1> The Second Heading Is Pretty Cool Too. </h1>           
        Donec ullamcorpre nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod sempter. praesent commodo cursis magna, vel scelerisque nisl consectetur. fusce dapibus, tellus ac cursus commodo.
      </div>
    </div>
  </div>