<!-- your html code here -->
<div class="container">
    <div class="row" id="ancla-2">
        <div class="p-2 col-3">
            <img src="https://myownapps.co/myownapps_website/static/src/img/user_typing.png" class="rounded-circle" width="250" height="250"alt="Walter White">
          </div>
      <div class="mt-5 col-7 ">
        <h1> The Second Heading Is Pretty Cool Too. </h1>           
        Donec ullamcorpre nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod sempter. praesent commodo cursis magna, vel scelerisque nisl consectetur. fusce dapibus, tellus ac cursus commodo.
      </div>
    </div>
  </div>